ErrorDocument 404 /core/views/error/notfound.php
ErrorDocument 403 /core/views/error/notfound.php

RewriteEngine On
RewriteRule ^user/dashboard/?(.*)$ /core/views/user/dashboard.php [L]
RewriteRule ^user/settings/?(.*)$ /core/views/user/settings.php [L]
RewriteRule ^user/messages/?(.*)$ /core/views/user/messages.php [L]
RewriteRule ^blog/?(.*)$ /core/views/blog/main.php [L]
RewriteRule ^user/online/?(.*)$ /core/views/online.php [L]
RewriteRule ^users/([^/]+)/?$ /core/views/users.php?term=$1 [L,QSA]
RewriteRule ^users/?(.*)$ /core/views/users.php [L]
RewriteRule ^admin/ban/?(.*)$ /core/views/admin/ban.php [L]
RewriteRule ^admin/reports/?(.*)$ /core/views/admin/reports.php [L]
RewriteRule ^admin/statistics/?(.*)$ /core/views/admin/statistics.php [L]
RewriteRule ^admin/assets/?(.*)$ /core/views/admin/assets.php [L]
RewriteRule ^admin/unban/?(.*)$ /core/views/admin/unban.php [L]
RewriteRule ^admin/newHat/?(.*)$ /core/views/admin/newHat.php [L]
RewriteRule ^admin/rewardPostie/?(.*)$ /core/views/admin/rewardPostie.php [L]
RewriteRule ^admin/prune/?(.*)$ /core/views/admin/prune.php [L]
RewriteRule ^admin/?(.*)$ /core/views/admin/main.php [L]
RewriteRule ^groups/search/([^/]+)/?$ /core/views/user/groups/search.php?term=$1 [L,QSA]
RewriteRule ^groups/search/?(.*)$ /core/views/user/groups/search.php [L]
RewriteRule ^groups/create/?(.*)$ /core/views/user/groups/create.php [L]
RewriteRule ^groups/view/([^/]+)/?$ /core/views/user/groups/view.php?id=$1 [L,QSA]
RewriteRule ^groups/admin/([^/]+)/?$ /core/views/user/groups/admin.php?id=$1 [L,QSA]
RewriteRule ^groups/?(.*)$ /core/views/user/groups/main.php [L]
RewriteRule ^user/character/?(.*)$ /core/views/user/character.php [L]
RewriteRule ^user/logout/?(.*)$ /core/views/user/logout.php [L]
RewriteRule ^forum/?(.*)$ /core/views/forum/index.php [L]
RewriteRule ^games/new/?(.*)$ /core/views/games/new.php [L]
RewriteRule ^games/view/([^/]+)/?$ /core/views/games/view.php?id=$1 [L,QSA]
RewriteRule ^games/?(.*)$ /core/views/games/main.php [L]
RewriteRule ^account/suspended?(.*)$ /core/views/user/security/banned.php [L]
RewriteRule ^account/resetpassword/([^/]+)/([^/]+)/?$ /core/views/user/security/resetpassword.php?userid=$1&key=$2 [L,QSA]
RewriteRule ^account/verification/email?(.*)$ /core/views/user/security/verifyEmail.php [L]
RewriteRule ^account/verification/twostepauth?(.*)$ /core/views/user/security/twostepauth.php [L]
RewriteRule ^catalog/?$ /core/views/catalog/main.php [L]
RewriteRule ^catalog/upload/?$ /core/views/catalog/upload.php [L]
RewriteRule ^catalog/item/([^/]+)/?$ /core/views/catalog/item.php?id=$1 [L,QSA]
RewriteRule ^user/profile/([^/]+)/?$ /core/views/user/profile.php?username=$1 [L,QSA]
RewriteRule ^friends/?$ /core/views/friends/main.php [L]
RewriteRule ^friends/requests/?$ /core/views/friends/requests.php [L]
RewriteRule ^friends/show/([^/]+)/?$ /core/views/friends/show.php?id=$1 [L,QSA]