html {
	position: relative;
	min-height: 100%;
}

a:hover {
	color: #107095 !important;
}

.nav-tabs>li>a {
	color: #fff
}

body {
	background-color: #282828;
}

.alert {
	border-radius: 0px;
}

.btn, .btn:hover, .disabled:hover {
	background-color: rgba(21, 140, 186, 0);
	border-color: rgba(21, 140, 186, 0);
	color: #fff
}

.dropdown-menu .divider {
	background-color: #3c3a3a
}

.navbar-inverse .navbar-nav>li>a {
	color: #f5f5f5 !important;
}

.navbar {
	border-radius: 0px;
	border-width: 0 1px 2px 1px;
	border-bottom:1px solid #161616;
	background-color: 161616
}

.form-control {
	border-radius: 0px;
	margin-bottom: 2px;
	color: #eeeeee;
    background-color: #101010;
	border-color: #333333
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	opacity: 1;
	background-color: #000000;
}

.fullWidth {
	width: 100%;
}

#lStatus {
	margin: 0 0 0px;
}

.navbar-brand {
	padding: 0px 15px;
}

.center {
	text-align: center;
}

hr {
	margin-bottom: 0px;
	margin-top: 0px;
}

.profileCard {
	border-style: solid;
	border-color: #333333;
	background-color:#1c1c1c;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	padding: 5px;
}

.footer {
	margin-top: 50px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #282828;
}

h3,  h4, p {
	color: #ffffff;
}

b, body
{
	color: #158cba !important;
}

.dropdown-menu, .navbar-nav>li>.dropdown-menu {
	background-color: 161616;
	color: #fff;
	border: 1px solid #161616
}

.modal-content
  {
    background-color: #1a1a1a;
    border: 1px solid rgb(172, 172, 172);
  }
  
  .list-group-item
  {
    background-color: #1c1c1c;
    border-top-color: #1c1c1c !important;
    border-bottom-color: #1c1c1c !important;
  }

  .list-group
  {
    border: 0px solid #0a0a0a;
  }

  div#posts span
  {
    color: #f6f6f6 !important;
  }
  
   div.well.profileCard
  {
    color: #dfdfdf;
  }

  div#itemsContainer h5
  {
    color: #dfdfdf;
  }

  
  .chatDate {
	color: grey;
	font-size: 9px
}

#chatMessageBox {
	position: fixed;
	top: calc(100% - 36px);
	width: 85%;
	display: inline;
	border: 0px solid rgba(0,0,0,.15);
}

#sendChatButton {
	position: fixed;
	top: calc(100% - 36px);
	width: 15%;
	display: inline;
	float: right;
	margin-left: 85%;
	height: 36px;
	padding: 0px;
	background-color: #fff
}

.chatpicMargin {
	margin-right: 5px
}

.chatMessage {
	background-color: #fff;
	margin-top: 5px;
	font-weight: 100;
	white-space: pre-line;
	text-align: left;
	border-radius: 5px;
	word-wrap: break-word;
	max-width: 100%
}

.chatOpener {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 24px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	cursor: pointer;
	z-index: 1000;
	height: 25px
}

.chatOptions {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 350px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	display: none;
	height: 25px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}

.chatOpenbackground {
	background-color: #dde2e4;
	position: fixed;
	left: calc(100% - 300px);
	top: calc(100% - 325px);
	width: 270px;
	height: 325px;
	display: none;
	overflow-y: scroll;
	height: 325px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}