html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #f5f5f5;
}

.cMessage {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif
}

.alert {
	border-radius: 0px;
}

.navbar {
	border-radius: 0px;
	border-width: 0 1px 2px 1px;
	border-bottom:1px solid #e7e7e7
}

.form-control {
	border-radius: 0px;
	margin-bottom: 2px;
}

.fullWidth {
	width: 100%;
}

#lStatus {
	margin: 0 0 0px;
}

.navbar-brand {
	padding: 0px 15px;
}

.center {
	text-align: center;
}

hr {
	margin-bottom: 0px;
	margin-top: 0px;
}

.profileCard {
	border-style: solid;
	border-color: #e7e7e7;
	background-color:#ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	padding: 5px;
}

.footer {
	margin-top: 50px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: #ffffff;
}

.chatDate {
	color: grey;
	font-size: 9px
}

#chatMessageBox {
	position: fixed;
	top: calc(100% - 36px);
	width: 85%;
	display: inline;
	border: 0px solid rgba(0,0,0,.15);
}

#sendChatButton {
	position: fixed;
	top: calc(100% - 36px);
	width: 15%;
	display: inline;
	float: right;
	margin-left: 85%;
	height: 36px;
	padding: 0px;
	background-color: #fff
}

.chatpicMargin {
	margin-right: 5px
}

.chatMessage {
	background-color: #fff;
	margin-top: 5px;
	font-weight: 100;
	white-space: pre-line;
	text-align: left;
	border-radius: 5px;
	word-wrap: break-word;
	max-width: 100%
}

.chatOpener {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 24px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	cursor: pointer;
	z-index: 1000;
	height: 25px
}

.chatOptions {
	background-color: #507299;
	position: fixed;
	color: #fff;
	top: calc(100% - 350px);
	left: calc(100% - 300px);
	width: 270px;
	padding-left: 5px;
	display: none;
	height: 25px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}

.chatOpenbackground {
	background-color: #dde2e4;
	position: fixed;
	left: calc(100% - 300px);
	top: calc(100% - 325px);
	width: 270px;
	height: 325px;
	display: none;
	overflow-y: scroll;
	height: 325px;
	z-index: 1000;
	box-shadow: 0 1px 3px rgba(150,150,150,0.74)
}